<app-header></app-header>

<div class="container align-items-center main-container">
  <form
    [formGroup]="medicForm"
    (ngSubmit)="!medicForm.invalid && registerMedic()"
  >
    <div class="row align-items-center">
      <div class="my-2 row welcome-header">
        <h1 class="text-center">Bienvenido a DermoApp</h1>
      </div>

      <div class="col-xs-10 col-lg-5 form-container">
        <div class="row">
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #name
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                />
              </div>
            </div>
            <mat-error
            class="alert-danger  validator-message my-3"
            *ngIf="
              medicForm.get('name')?.hasError('required') &&
              medicForm.get('name')?.touched
            "
          >
            Debe ingresar su nombre
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('name')?.hasError('maxlength')"
          >
            El nombre no debe exceder los 50 carácteres
          </mat-error>
          </div>
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #lastName
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Apellido"
                />
              </div>
            </div>
            <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="
              medicForm.get('lastName')?.hasError('required') &&
              medicForm.get('lastName')?.touched
            "
          >
            Debe ingresar su apellido
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('lastName')?.hasError('maxlength')"
          >
            El apellido no debe exceder los 50 carácteres
          </mat-error>
          </div>
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #country
                  formControlName="country"
                  type="text"
                  class="form-control"
                  placeholder="País"
                />
              </div>
            </div>
            <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="
              medicForm.get('country')?.hasError('required') &&
              medicForm.get('country')?.touched
            "
          >
            Debe ingresar su país de residencia
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('country')?.hasError('minlength')"
          >
            El país debe superar los 4 carácteres
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('country')?.hasError('maxlength')"
          >
            El país no debe exceder los 50 carácteres
          </mat-error>
          </div>
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #profesionalId
                  formControlName="profesionalId"
                  type="text"
                  class="form-control"
                  placeholder="Número de licencia profesional"
                />
              </div>
            </div>
            <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="
              medicForm.get('profesionalId')?.hasError('required') &&
              medicForm.get('profesionalId')?.touched
            "
          >
            Debe ingresar su número de licencia profesional
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('profesionalId')?.hasError('maxlength')"
          >
            El numero no debe exceder los 10 dígitos
          </mat-error>
          </div>
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #profilePicture
                  type="url"
                  formControlName="profilePicture"
                  class="form-control"
                  placeholder="Foto de Perfil (opcional)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-10 col-lg-5 container align-top">
        <div class="row">
          <div class="form-group input-box">
            <div class="mb-3 row">
              <div class="col-lg-12">
                <input
                  #email
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Correo Electronico"
                />
              </div>
            </div>
            <mat-error
              class=" alert-danger validator-message my-3"
              *ngIf="
                medicForm.get('email')?.hasError('required') &&
                medicForm.get('email')?.touched || medicForm.get('email')?.hasError('email')
              "
            >
              Debe ingresar un correo valido para registrarse
            </mat-error>
            <mat-error
              class=" alert-danger validator-message my-3"
              *ngIf="medicForm.get('email')?.hasError('maxlength')"
            >
              El correo no debe exceder los 50 carácteres
            </mat-error>
          </div>
        </div>
        <div class="form-group  input-box">
          <div class="mb-3 row">
            <div class="col-lg-12">
              <input
                #password
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Contraseña"
              />
            </div>
          </div>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="
              medicForm.get('password')?.hasError('required') &&
              medicForm.get('password')?.touched
            "
          >
            Debe ingresar una contraseña
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('password')?.hasError('minlength')"
          >
            La contraseña debe superar los 4 carácteres
          </mat-error>
          <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="medicForm.get('password')?.hasError('maxlength')"
          >
            La contraseña no debe exceder los 50 carácteres
          </mat-error>
        </div>
        <div class="form-group input-box">
          <div class="mb-3 row">
            <div class="col-lg-12">
              <input
                #confirmPassword
                formControlName="confirmPassword"
                type="password"
                class="form-control"
                placeholder="Confirmar contraseña"
              />
            </div>
          </div>
        </div>
        <mat-error
            class="alert-danger validator-message my-3"
            *ngIf="
              medicForm.get('confirmPassword')?.hasError('required') &&
              medicForm.get('confirmPassword')?.touched
            "
          >
            Debe confirmar su contraseña
          </mat-error>
        <mat-error
        class="alert-danger validator-message my-3"
        *ngIf="
          medicForm.get('confirmPassword')?.getError('mustMach')!=null
        "
      >
        Las contraseñas no coinciden
      </mat-error>
        <div class="mb-3 row">
          <div class="my-2 col-lg-12 dropdown">
            <mat-form-field class="dropdown" appearance="fill">
              <mat-label>Especialidades</mat-label>
              <mat-select
                formControlName="specialty"
                type="text"
                [(value)]="selected"
              >
                <mat-option></mat-option>
                <mat-option value="pediatry" selected>Pediatria</mat-option>
                <mat-option value="elder">Adulto mayor</mat-option>
                <mat-option value="cancer">Cáncer</mat-option>
                <mat-option value="cosmetic">Cosmética</mat-option>
              </mat-select>
              <mat-error
                *ngIf="medicForm.get('specialty')?.hasError('required')"
                >Por favor selecciona especialidad</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container row submit-buttons" >
    <ul class="col me-auto mb-3 mb-lg-0"></ul>
    <div class="col-2 text-center mt-3 ">
      <button (click)="goLogIn()" type="button" class="btn btn-cancel col-12">
        Cancelar
      </button>
    </div>
    <div class="col-2 text-center mt-3">
      <button
        (click)="registerMedic()"
        type="button"
        class="btn btn-continue col-12 "
        [disabled]="!medicForm.valid"
      >
        Registrarse
      </button>
    </div>
  </div>
</div>

