.main-container{
  position: relative;
  top:30px;
}
h1{
  font-size:x-large
}

.welcome-header{
  padding-bottom: 25px;
}
.form-control{
  outline-width: 1px;
  outline-style: solid;
  outline-color: #cfb1fa; /* light purple */
}

.specialty-header{
  border-bottom-style: solid;
  border-bottom-color:rgb(187, 187, 187);
  padding-left: 10px;
}
.dropdown{
  background-color: white;
}
:host ::ng-deep .mat-form-field-appearance-fill {
  background-color:white;
}

