#dropdownLang{
  background-color:  #6200ee;
  color:white;
  cursor: pointer;
  border-color: #6200ee;
  border-bottom-color: white;

  }

  .dropdownLang:hover{
    font-weight: bold;
      background-color:  #782cf0;
  }
