<app-header></app-header>
<div class="container align-items-center top-header">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-5 container">
      <div class="row">
        <div class="my-2 row">
          <h1 class="text-left text-bold" id="logInHeader" i18n>{{"logIn"|translate}}</h1>
        </div>
        <div *ngIf="error">
          <div class="alert alert-danger col-lg-12" id="errorMsg" role="alert"i18n>
            {{"logInErrorMsg"|translate}}
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-lg-12 input-box">
            <input
              #user
              id="user"
              type="text"
              class="form-control"
              placeholder="{{'email'|translate}}"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-lg-12 input-box">
            <input
              #password
              id="password"
              type="password"
              class="form-control"
              placeholder="{{'password'|translate}}"

            />
          </div>
          <div class="col-6 text-center mt-3">
            <button
              (click)="goHome()"
              type="button"
              class="btn btn-cancel col-12" id='cancelBtn'
              i18n>
              {{'cancel'|translate}}
            </button>
          </div>
          <div class="col-6 text-center mt-3">
            <button
              (click)="onLogInMedic(user.value, password.value)"
              type="button"
              class="btn btn-continue col-12" id='logInBtn'
              i18n>
              {{'enter'|translate}}
            </button>
          </div>
          <div class="col-12 text-center mt-4">
            <p id='registerQ'>{{'signUpMsg'|translate}}</p>
          </div>
          <div class="col-12 text-center hyperlink">
            <p i18n>
              {{'signUpHere'|translate}}
              <a class="text_hyperlink" (click)="goRegister()">{{'here'|translate}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
