.navbar{
  background-color:  #6200ee;
}
.navbar-brand{
  color:white;
}

.nav-link{
  color:white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.nav-link:hover{
  font-weight: bold;

    background-color:  #782cf0;
}
