<app-header-logged></app-header-logged>
<div class="main-container">
  <div class="container-fluid">
    <div *ngIf="showInquiries.length > 0; else emptyList"></div>
    <div class="scroll-list">
      <button
        *ngIf="showInquiries.length > 0"
        class="btn-scroll"
        (click)="scrollHorizontally(-1)"
        #scrollLeftButton
      >
      <img src="./assets/caret-left-fill.svg" alt="Scroll left button" />
      </button>
      <div
        class="media-scroller container-inquiries snaps-inline"
        #mediaScroller
      >
        <div
          class="inquiry-item"
          *ngFor="let inquiry of showInquiries; let i = index"
          class="card-inquiry"
          (click)="onSelectedInquiry(inquiry)"
          id="inquirySelector"
        >
          <div class="img-driver" *ngIf="!inquiry.asigned; else claimedInquiry">
            <img
              id="patient-image-{{ i }}"
              src="{{ inquiry.patient.profilePicture }}"
              alt="patient-image-{{inquiry.patient.name }}"
            />
          </div>
          <ng-template #claimedInquiry>
            <div class="img-driver-claimed">
              <img
                id="patient-image-{{ i }}"
                src="{{ inquiry.patient.profilePicture }}"
                alt="patient-image-{{inquiry.patient.name }}"
              />
              <img class="img-check" src="./assets/check-all.svg" alt="Check calimed inquiry icon">
            </div>

          </ng-template>
          <div class="patient-name">
            <h5>
              <span id="patient-name-{{ i }}" class="patient-name card-content"
                >{{ "name" | translate }}: {{ inquiry.patient.name }}</span
              >
            </h5>
          </div>
          <div class="patient-age">
            <h5>
              <span id="patient-age-{{ i }}" class="patient-age card-content"
                >{{ "age" | translate }}:
                {{ calculateAge(inquiry.patient.birthDate) }}</span
              >
            </h5>
          </div>
          <div class="inquiry-date">
            <h5>
              <span id="inquiry-date-{{ i }}" class="inquiry-date card-content"
                >{{ "creationDate" | translate }}:
                {{ inquiry.creationDate | date }}</span
              >
            </h5>
          </div>
          <div class="inquiry-injury-type">
            <h5>
              <span
                id="inquiry-injury-type-{{ i }}"
                class="inquiry-injury-type card-content"
                >{{ "injuryType" | translate }}:
                {{ inquiry.typeOfInjury }}</span
              >
            </h5>
          </div>
        </div>
      </div>
      <button
        *ngIf="showInquiries.length > 0"
        class="btn-scroll"
        (click)="scrollHorizontally(1)"
        #scrollRightButto
      >
        <img src="./assets/caret-right-fill.svg" alt="Scroll right button" />
      </button>
    </div>
  </div>
</div>
<ng-template class="emptyList align-items-center" #emptyList>
  <h2 class="emptyListLabel text-center">{{ "emptyListMsgMedic" | translate }}</h2>
</ng-template>

<div class="col-12 center inquiry-detail" *ngIf="selected === true">
<app-inquiry-detail
    [selectedInquiry]="inquiry"
    [origin]="origin"
    (cancelOutput)="onCancel($event)"
  ></app-inquiry-detail>
</div>
