.main-container{
  padding-top: 50px;
}

.welcome-header{
  font-size: xx-large;
  font-style: bold;
}

.welcome-msg{
  font-style: bold;
}

img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
